/* Global Styles */
table {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  text-align: center;
  font-family: Monospace; 
}
body {
  margin: 0;
  background-color: #1d1e1e;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
button {
  height: 11vh;
  width: 13vw;
  border: 3px solid black;
  border-radius: 5px;
  color: black;
  font-size: 100%;
  font-family: inherit;
  box-shadow: 0px 0px 10px black;
  font-size: 2.5vh;
  text-overflow: clip;
}
textarea {
  resize: none;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 3px solid white;
  color: white;
  text-align: left;
  font-size: 1.5vh;
}
tr {

}
/* Size Styleing */
.top {
  height: 20vh;
}
.footer {
  height: 20vh;
}
.topSideBox {
  width: 20vw;
}
.midButton {
  width:20vw;
}
.tallButton {
  height: 45vh;
}
.halfHeightButton {
  margin-top: 2vh;
  height: 15vh;
  width: 13vw;  
}
.undo, .termnial, .termnialEndgame {
  width: 14vw; 
  display: block; 
  box-sizing: border-box;
  margin: auto;
}
.coments {
  height: 12vh;
  width: 30vw;
  font-size:2vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.termnialEndgame {
  height: 45vh;
  font-size:2vh;
}
.headerImg {
  height: 100%;
  padding: 0px;;
  margin: 0px;
}
.headerIndex {
  height: 15vw;
  width: 100vw;
}
.headerSpacerIndex {
  width: 30vw;
}
.infoBox {
  height: 4vh;
  width: 5vw;
}
.inputBox {
  height: 4vh;
  width: 7vw;
}
.inputRow {
  height: 15vh;
}
.buttonRow {
  height: 17.5vh;
} 
.bottomRow {
  padding-right:50vw;
}
.qrHolder {
  height: 60vh;
  width: 60vw;
}
.oneThrid {
  width: 33.3vw;
}
.qrIndexHolder {
  height: auto;
}
.indexBottom {
  height: 15vh;
}
/* Everything Else */
.undo {
  height: 4.5vh;
  padding: 0;
  border: 3px solid white;
  border-radius: 0px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  font-size: 3vh;
}
.termnial {
  height: 27vw;
  resize: none;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 3px solid white;
  text-align: left;
  color: white;
  font-size: 1.5vh;
  scrollbar-width: thin;
  scrollbar-color: white rgba(0, 0, 0, 0.2);
  font-size:2vh;
  line-height: 1.51vw;
}

.infoBox, .inputBox {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border: 3px solid white;
  color: white;
  text-align: center;
  font-size: 3vh;
}
.infoBox {
  background-color: rgba(0, 0, 0, 0.5);
}
.header {
  color: white;
  font-size: 15vh;
  text-shadow: 0px 0px 50px black;
}
.allianceOfTheRedColour {
  background-color: rgb(107, 1, 1);
  border: 2px solid white;
  color: white;
}
.allianceOfTheBlueColour {
  background-color: rgb(0, 62, 143);
  border: 2px solid white;
  color: white;
}
.goButton {
  background-color: rgb(22, 151, 22);
  border: 2px solid white;
  color: white;
}
.backForth {
  text-align: center;
  font-size: 5vh;
  height: 11vh;
  width: 13vw;
}
.qrHolder {
  margin: 0;
  padding: 0;
}
.qrArea {
  height: auto;
  width: 0px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.confirm {
  height: 3em;
  width: 5em;
  border: 3px solid black;
  color: white;
  display: block;
  margin: auto;
  margin-top: 1em;
  text-overflow: clip;
}
.yes {  
  background-color: ForestGreen;
}
.no {
  background-color: DarkRed;
}
p {
  margin: 14px auto;
}
.confirmDIV {
  height: 5em;
  width: 5em;
  padding: 0.5em;
  color: white;
  margin: auto;
  background: rgba(46, 46, 46, 0.2);
  -webkit-backdrop-filter: blur(10vh);
  backdrop-filter: blur(5vh);
  box-shadow: 0px 0px 10vh black;
  font-size: 4em;
  border-radius: 1em;
  text-shadow: 0px 0px 2vh white;
  transform: scale(0.9);
  opacity: 0;
}
.labelText { 
  padding-top: 1vh;
   color: white;
   font-size: 1.2em;
   text-shadow: 0px 0px 5px lightblue;
}
.indexTable {
  -webkit-backdrop-filter: hue-rotate(105deg);
  backdrop-filter: hue-rotate(105deg);
}
.autonTable {
  background: #0f3f4d;
}
.teleopTable {
  background: #2e0f4d;
}
.endGameTable {
  background: #4d0f45;
}

/* Colours */ 

.speakerColor {
  background-color: #9AEBA3;
}
.speakerMissColor {
  background-color: #578a5d;
}
.ampColor {
  background-color: #DAFDBA;
}
.ampMissColor {
  background-color: #8ea876;
}
.invisibleButton {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.foulColor {
  background-color: #005d8b;
}
.disabledColor {
  background-color: #3ab0e2;
}
.nextColor {
  background-color: #45C4B0;
}
.climbFailColor {
  background-color: #34A853
}
.trapColor {
  background-color: #FBBC05;
}
.climbGoodColor {
  background-color: #4285F4;
}
.MicrophoneColor  {
  background-color: #EA4335;
}
.reset {
  background-color: red;
}
.endGameColor1 {
  background-color: #4A154B;
  color: white;
}
.endGameColor2 {
  background-color: #F4EDE4;
}
.endGameColor3 {
  background-color: #36C5F0;
}
.endGameColor4 {
  background-color: #e55683;
}
.endGameColor5 {
  background-color: #ECB22E;
}
.endGameColor6 {
  background-color: #2EB67D;
}
  /* alternate colours 
#speaker {
  background-color: #8CBEB2;
}
#speakerMiss {
  background-color: #7cc484;
}
#amp {
  background-color: #F06060;
}
#ampMiss {
  background-color: #8ea876;
}
#foul {
  background-color: #F2EBBF;
}
#disabled {
  background-color: #815061;
}
#next {
  background-color: #815061;
} */


/* transitions */


#next, #regen, #reset {
  transition: opacity .5s ease-in-out;
}
#tableQR {
  transition: transform 0.5s cubic-bezier(.5,0,.39,1.3);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#flip {
  transition: transform 1s ease-in-out;
}
@keyframes orangeBlack {
  0% {
    color: white;
  }
  33% {
    color: black;
  }
  66% {
    color: orange;
  }

  100% {
    color: white;
  }
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}